{:paths ["src" "views" "test"]
 :tasks
 {serve {:doc "Start the TRMNL HSL departure board server"
         :requires ([hsl.server :as server])
         :task (server/-main)}
  test  {:doc "Run the unit tests"
         :requires ([clojure.test :as t] [hsl.board-test] [hsl.render-test] [hsl.snapshot-test])
         :task (let [{:keys [fail error]} (t/run-tests 'hsl.board-test 'hsl.render-test 'hsl.snapshot-test)]
                 (System/exit (if (pos? (+ fail error)) 1 0)))}}}
