<div class="layout px--6 pt--2 pb--6">
    <div class="columns">

        <div class="column mr--5">
            <table class="table">
                <tbody>
                {% for stop in left.stops %}
                <tr>
                    <td colspan="3"><div class="flex flex--center-y gap--small">{% if stop.icon %}<img class="image h--[26px]" src="{{ stop.icon }}"/>{% endif %}<span class="title">{{ stop.name }}</span></div></td>
                </tr>
                <tr>
                    <td><span class="title title--small">Linja</span></td>
                    <td><span class="title title--small">Määränpää</span></td>
                    <td><span class="title title--small text-right">Lähtöaika</span></td>
                </tr>
                {% for dep in stop.deps %}
                <tr>
                    <td><span class="label">{{ dep.line }}</span></td>
                    <td><span class="label" data-clamp="1">{{ dep.dest }}{% if dep.metro %} (M){% endif %}</span></td>
                    <td><span class="label text-right">{% if dep.rt %}~{% endif %}{{ dep.hhmm }}</span></td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column ml--5">
            <table class="table">
                <tbody>
                {% for stop in right.stops %}
                <tr>
                    <td colspan="3"><div class="flex flex--center-y gap--small">{% if stop.icon %}<img class="image h--[26px]" src="{{ stop.icon }}"/>{% endif %}<span class="title">{{ stop.name }}</span></div></td>
                </tr>
                <tr>
                    <td><span class="title title--small">Linja</span></td>
                    <td><span class="title title--small">Määränpää</span></td>
                    <td><span class="title title--small text-right">Lähtöaika</span></td>
                </tr>
                {% for dep in stop.deps %}
                <tr>
                    <td><span class="label">{{ dep.line }}</span></td>
                    <td><span class="label" data-clamp="1">{{ dep.dest }}{% if dep.metro %} (M){% endif %}</span></td>
                    <td><span class="label text-right">{% if dep.rt %}~{% endif %}{{ dep.hhmm }}</span></td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% if alerts %}
                <tr>
                    <td colspan="3"><div class="flex flex--center-y gap--small"><img class="image h--[26px]" src="{{ alerts_icon }}"/><span class="title">Häiriötiedotteet</span></div></td>
                </tr>
                <tr>
                    <td colspan="3" class="pt--3">
                        <div class="flex flex--col flex--left gap--small">
                            {% for a in alerts %}
                            <span class="label label--small">{{ a }}</span>
                            {% endfor %}
                            {% if alerts_overflow %}
                            <span class="label label--small">{{ alerts_overflow }}</span>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="title_bar">
    <img class="image" src="https://trmnl.com/images/plugins/trmnl--render.svg"/>
    <span class="title">HSL — {{ title }}</span>
    <span class="instance">{{ clock }} {{ date }}</span>
</div>
